apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: customer-reporting
  name: customer-reporting
  namespace: default
spec:
  replicas: 2 #CHANGE
  minReadySeconds: 45
  selector:
    matchLabels:
      app: customer-reporting
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: customer-reporting
    spec:
      containers:
      - image: dsdebayan/customer-reporting:0.0.1-RELEASE #CHANGE
        imagePullPolicy: IfNotPresent
        name: customer-reporting
        env:
#          - name: CURRENCY_EXCHANGE_URI
#            value: http://currency-exchange
#          - name: SPRING_CLOUD_GCP_TRACE_ENABLED
#            value: "true"
          - name: RDS_HOSTNAME
            value: mysql
#          - name: SPRING_PROFILES_ACTIVE
#            value: kubernetes
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  labels: #PODS
    app: customer-reporting
  name: customer-reporting
  namespace: default
spec:
  ports:
  - # nodePort: 30701 #CHANGE
    port: 8003 #CHANGE
    protocol: TCP
    targetPort: 8003 #CHANGE
  selector:
    app: customer-reporting
  sessionAffinity: None #CHANGE
  type: NodePort